body{
    background-color: black;
    cursor: url('../img/ani1244.cur'), auto;
}
#topRow{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: #050000;
    justify-content: space-between;
    background-image: url("../img/wasteland.png");
    background-size: cover;
    align-items: center;
    visibility: hidden;
}
.fighter{
    margin: 15px 30px;
    height: 600px;
    align-self: baseline;
}
.fighter img{
    height: 600px;
    width: 325px;
    background-color: transparent;
}
#bottomRow{
    font-family: 'Source Code Pro', monospace;
    color: lawngreen;
    background-color: black;
}
h1{
    font-family: 'Goldman', cursive;
    color: limegreen;
    text-align: center;
}
.stats{
    width: 315px;
    border: 1px solid red;
    height: 800px;
    margin-top: 1px;
    color: white;
    text-align: center;
}
.stats button {
    border: 3px solid;
    border-radius: 20px;
}
.stats button:hover {
    border: 3px solid gold;
    border-radius: 20px;
    color: #60dfcd;
    background-image: url("../img/hover-spark.gif");
}

.healthLabel{
    font-family: 'Goldman', cursive;
    color: #00b712;
}
.hpBorder{
    width: 300px;
    height: 20px;
    border: 3px solid black;
}
.hpBar{
    width: 300px;
    height: 20px;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.kiLabel{
    font-family: 'Goldman', cursive;
    color: #60dfcd;
}
.kiBorder{
    width: 300px;
    height: 20px;
    border: 3px solid black;
}
.kiBar{
    width: 300px;
    height: 20px;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
#p1Stats{
    color: #2a2a72;
    background-color: #ee4a02;
    background-image: linear-gradient(315deg, #db4502 0%, #ec9f05 74%);
    border: 3px solid #2a2a72;
    margin-left: 100px;
}
#p1Stats h1{
    color: #2a2a72;
}
#p2Stats{
    color: #ff4e00;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    border: 3px solid #ff4e00;
    margin-right: 100px;
}
#p2Stats h1{
    color: #ff4e00;
}
h3{
    font-family: 'Goldman', cursive;
}
#p1Stats h3{
    color: #2a2a72;
}
#p2Stats h3{
    color: #ff4e00;
}
.movesp2{
    color: #2a2a72;
    background-color: #ee4a02;
    background-image: linear-gradient(315deg, #db4502 0%, #ec9f05 74%);
}
.ultimateMoves{
    color: darkgoldenrod;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.kiMoves{
    color: white;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
.healthMoves{
    color: white;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.movesp1 {
    color: #ff4e00;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}
#battleThemeSaiyans{
    display: none;
}
.transformation, .moves{
    margin: 1.8px;
}
#transformp21, #transformp22, #transformp23 {
    color: #ffdd00;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#transformp24{
    color: #ff006f;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#transformp25{
    color: #05daf5;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#transformp11, #transformp12, #transformp13 {
    color: #ffdd00;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#transformp14{
    color: #ff006f;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
#transformp15 {
    color: #15919f;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
/*.transformationButton:hover{*/
/*    border: 1px solid silver;*/
/*    border-radius: 20px;*/
/*    color: #60dfcd;*/
/*    background-image: url("../img/hover-lightning.gif");*/
/*}*/
#transformp11:hover, #transformp21:hover, #transformp12:hover, #transformp22:hover, #transformp13:hover, #transformp23:hover {
    border: 1px solid sandybrown;
    border-radius: 20px;
    color: #60dfcd;
    background-image: url("../img/hover-lightning-2.gif");
}
#transformp14:hover, #transformp24:hover {
    border: 1px solid silver;
    border-radius: 20px;
    color: #60dfcd;
    background-image: url("../img/hover-fire.gif");
}
#transformp15:hover, #transformp25:hover {
    border: 1px solid gold;
    border-radius: 20px;
    color: #60dfcd;
    background-image: url("../img/hover-lightning.gif");
}
#ultimateMovesp11:hover, #ultimateMovesp21:hover {
    border: 1px solid gold;
    border-radius: 20px;
    color: #60dfcd;
    background-image: url("../img/hover-ultimate.gif");
}
#kameVideo, #kiaiVideo, #kaiokenVideo, #fistsVideo {
    display: none;
}
#galickVideo, #lucoraVideo, #fireworksVideo, #infiniteVideo {
    display: none;
}
#spiritVideo, #finalVideo {
    display: none;
}
.show {
    display: block !important;
}