body{
    background-color: black;
}
#topRow {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    border-color: red;
    justify-content: space-between;
    background-image: url("../img/goku-vegeta-wallpaper.jpg");
    background-size: cover;
    align-items: flex-end;
}
.fighter{
    margin: 15px 30px;
    height: 300px;
    width: 210px;
    align-self: baseline;
}
#sonGoku{
    background-color: transparent;
}
#princeVegeta{
    background-color: transparent;
}
.fighter img{
    height: 300px;
}
#bottomRow{
    padding: 20px;
    font-family: 'Source Code Pro', monospace;
    color: lawngreen;
    background-color: black;
}
h1{
    font-family: 'Goldman', cursive;
    color: limegreen;
}
.stats{
    width: 315px;
    border: 1px solid red;
    height: 600px;
    margin: 20px;
    margin-top: 1px;
    color: white;
    text-align: center;
}
.healthLabel{
    font-family: 'Goldman', cursive;
    color: #00b712;
}
.hpBorder{
    width: 300px;
    height: 20px;
    border: 3px solid black;
}
.hpBar{
    width: 300px;
    height: 20px;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
.kiLabel{
    font-family: 'Goldman', cursive;
    color: #60dfcd;
}
.kiBorder{
    width: 300px;
    height: 20px;
    border: 3px solid black;
}
.kiBar{
    width: 300px;
    height: 20px;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
#gokuStats{
    background-color: #ee4a02;
    background-image: linear-gradient(315deg, #db4502 0%, #ec9f05 74%);
    border: 3px solid #2a2a72;
}
#gokuStats h1{
    color: #2a2a72;
}
#vegetaStats{
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    border: 3px solid #ff4e00;
}
#vegetaStats h1{
    color: #ff4e00;
}
h3{
    font-family: 'Goldman', cursive;
}
#gokuStats h3{
    color: #2a2a72;
}
#vegetaStats h3{
    color: #ff4e00;
}
.moves{
    color: white;
    margin: 3px;
}
#movesVegeta{
    color: #2a2a72;
    background-color: #ee4a02;
    background-image: linear-gradient(315deg, #db4502 0%, #ec9f05 74%);
    font-weight: bold;
    border: .5px solid #ff4e00;
}
.ultimateMoves{
    color: darkgoldenrod;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
#kiMoves{
    color: white;
    background-color: #60dfcd;
    background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
}
#healthMoves{
    color: white;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
}
#movesGoku{
    color: #ff4e00;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    font-weight: bold;
    border: .5px solid #2a2a72;
}
